.total-wrapper {
    background-color: rgba(239, 239, 239);
    box-shadow: -4px 17px 22px 0px rgba(26, 47, 60, 0.3);
    border-radius: 10px;
    max-width: 500px;
}

.total-wrapper h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #253e4b;
}

.total-wrapper h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #607F96;
    margin-top: 1rem;
}

.total-wrapper li {
    text-transform: capitalize;
    color: #253e4b;
}