.header{
    color: #29485c;
    font-size: 1.2rem;
    font-weight: 700;

}
.expense-form {
    position: absolute; 
    left: 50%;
    top: 50%;
    background-color: #eee9e9;
    box-shadow: -4px 17px 22px 0px rgba(26, 47, 60, 0.75);
    max-width: 700px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.message {
    background-color: rgba(236, 45, 45, 0.2);
    padding: 0 5px;
    color: rgb(236, 45, 45);
}